[Desktop Entry]
Version=1.0
Type=Application
Name=Netbeans URL Handler
Comment=Handle URL Scheme netbeans://open?url=file://@file&line=@line and netbeans://open?file=@file&line=@line
Icon=netbeans
NoDisplay=true
Categories=TextEditor;Utility;
Exec=netbeans-url-handler %u
Terminal=false
MimeType=x-scheme-handler/netbeans;
X-Desktop-File-Install-Version=0.21
